/* epilogue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/epilogue-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/epilogue-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* epilogue-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/epilogue-v17-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/epilogue-v17-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* epilogue-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/epilogue-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/epilogue-v17-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

    /* Global codes  */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", "Helvetica", sans-serif;
    font-weight: 700;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 1256px;
    margin: 0 auto;
    padding: 0  20px;
}

img {
    display: block;
}

.site-main {
    flex-grow: 1;
}

    /* Table  */

.site-table {
    width: 1000px;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid #000;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.site-tables {
    width: 1000px;
    margin-left: 200px;
    border: 2px solid #000;
    border-collapse: separate;
    border-spacing: 10px;
    font-size: 25px;
    margin-bottom: 75px;
}

th, td {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

    /* Header section  */


.site-header {
    padding-top: 21px;
    padding-right: 41px;
    padding-left: 41.26px;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__outer {
    display: flex;
    align-items: center;
}

.site-logo {
    margin-right: 62.24px;
}

.nav__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.nav__items {
    margin-right: 40px;
}

.nav__link {
    position: relative;
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav__link--features::after {
    position: absolute;
    left: 70px;
    top: 6px;
    width: 8px;
    height: 4px;
    display: block;
    content: "";
    background-image: url("./images/Path\ 5.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav__link--company::after {
    position: absolute;
    left: 73px;
    top: 6px;
    width: 8px;
    height: 4px;
    content: "";
    display: block;
    background-image: url("./images/Path\ 6.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.nav__link:hover {
    color: #151515;
}

.nav__link--solo:hover {
    color: #686868;
}

.site-header__link {
    display: inline-block;
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 40px;
    transition: border 0.5s ease, color 0.5s ease;
}

.site-header__link:hover {
    color: #151515;
}

.site-header__link:last-child:hover {
    border: 1.5px solid #151515;
}

.site-header__link:last-child {
    padding: 13px 22px;
    border: 1.5px solid #686868;
    border-radius: 14px;
    margin-right: 0;
}

    /* Dropdown  */

.dropdown {
    position: relative;
    display: none;
}


.dropdown__list {
    position: relative;
    right: 72px;
    margin-top: 20px;
    /*top: 35px;
    left: -85px;*/
    display: none;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    padding: 24px;
    margin: 0;
    list-style: none;
}

.dropdown__items {
    margin-bottom: 16px;
}

/*.dropdown__items--features:hover {
    display: block;
}*/

.dropdown__link {
    display: flex;
    align-items: center;
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin-top: 16px;
}

.dropdown__link--todo::before {
    display: block;
    content: "";
    background-image: url("./images/Combined\ Shape.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 16px;
    margin-top: 0;
    margin-right: 15px;
}

.dropdown__link--calendar::before {
    width: 14px;
    height: 16px;
    content: "";
    background-image: url("./images/shape\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
}

.dropdown__link--reminders::before {
    width: 12px;
    height: 16px;
    content: "";
    display: block;
    background-image: url("./images/shape\ 3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
}

.dropdown__link--last::before {
    width: 16px;
    height: 16px;
    display: block;
    content: "";
    background-image: url("./images/shape\ last.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
}

   /* Hero section  */

.hero {
    background-image: url('./images/image.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(50% + 320px)  calc(50% - 30px);
}

.hero__textbox {
    width: 520px;
    padding-top: 175.35px;
}

.hero__title {
    color: #151515;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.1111px;
    margin-top: 0;
    margin-bottom: 48px;
}

.hero__text {
    color: #686868;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 51px;
}

.hero__link {
    display: inline-block;
    background-color: #151515;
    border-radius: 15px;
    color: #fafafa;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.25px;
    text-decoration: none;
    padding-top: 15px;
    padding-right: 28px;
    padding-bottom: 13px;
    padding-left: 31px;
    transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.hero__link:hover {
    color: #151515;
    background-color: #fff;
    border: 1px solid #151515;
}

   /*  Logoes section  */

.logoes__list {
    display: flex;
    padding-top: 108px;
    padding-bottom: 122px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.logoes__items {
    margin-right: 45px;
}

