/* epilogue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/epilogue-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/epilogue-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* epilogue-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/epilogue-v17-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/epilogue-v17-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* epilogue-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/epilogue-v17-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/epilogue-v17-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

    /* Global codes  */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", "Helvetica", sans-serif;
    font-weight: 700;
    margin: 0;
    overflow-x: hidden;
}

img {
    display: block;
}

.site-main {
    flex-grow: 1;
}

    /* Table  */

.site-table {
    width: 1000px;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid #000;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.site-tables {
    width: 100px;
    margin-left: 200px;
    border: 2px solid #000;
    border-collapse: collapse;
    border-spacing: 10px;
    font-size: 25px;
}

th, td {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

    /* Header section  */


.site-header {
    padding-top: 21px;
    padding-right: 41px;
    padding-left: 41.26px;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__outer {
    display: flex;
    align-items: center;
}

.site-logo {
    margin-right: 62.24px;
}

.nav__list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.nav__items {
    margin-right: 40px;
}

.nav__link {
    display: inline-block;
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.site-header__link {
    display: inline-block;
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 40px;
}

.site-header__link:last-child {
    padding: 13px 22px;
    border: 1.5px solid #686868;
    border-radius: 14px;
    margin-right: 0;
}



.active::after {
    background-image: url('./images/Path\ 5.svg');
    content: "Hello";
}

